<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/storeCount.js"></script>
    <script type="text/javascript" src="/js/storePayPopup.js"></script>
</head>
<body>
    <h1>결제</h1>
    <input type="button" value="뒤로가기" onclick="location.href='/store'">
    <div class="payDiv">
        <span>
            <div>
                <input type="hidden" th:value="${item.storeIdx}" id="storeIdx">
                <div id="itemName" th:text="${item.itemName}"></div>
                <input type="hidden" id="staticPrice" th:value="${item.price}">
                <div id="price" th:text="${item.price} + '원'"></div>
                <div>
                    <button id="minus" onclick="count('-')">
                        <img src="/img/minus.png">
                    </button>
                    <label type="text" id="num">1</label>
                    <button id="plus" onclick="count('+')">
                        <img src="/img/plus.png">
                    </button>
                </div>
                <div>
                    <input type="button" value="구매하기" onclick="payPopup();">
                </div>
                <div>
                    <input type="hidden" th:value="${likeCheck}" id="storeLikeCheck">
                    <div th:text="${item.goodsLike}" id="storeLikeView">

                    </div>
                    <input type="button" value="찜하기" onclick="storeLike();">
                </div>
            </div>
        </span>
    </div>
    <div>
        <div>
            <div>상세정보</div>
        </div>
        <div>
            <div>
                <textarea readonly th:text="${item.introduce}"></textarea>
                <input type="hidden" value="상세정보 내용">
            </div>
        </div>
    </div>
</body>
<script src="/js/httpRequest.js"></script>
<script th:inline="javascript">
    function storeLike() {
        let idx = document.getElementById("storeIdx").value;
        let memberIdx = [[${memberIdx}]];
        let url = "/store/pay/like";
        let param = "likeIdx=" + idx +
                    "&memberIdx=" + memberIdx;
        sendRequest(url, param, likeRes, "GET");
    }
    function likeRes() {
        let storeLIkeCheck = document.getElementById("storeLikeCheck");
        let storeLikeView = document.getElementById("storeLikeView");
        if ( xhr.readyState == 4 && xhr.status == 200 ) {
            var data = xhr.responseText;
            if(data == "no") {

            } else {
                if(storeLikeCheck.value == '0') {
                    alert('좋아요');
                    storeLikeCheck.value += 1;
                    storeLikeView.innerHTML = data;
                } else {
                    alert('좋아요 취소');
                    storeLikeCheck.value -= 1;
                    storeLikeView.innerHTML = data;
                }
            }
        }
    }
</script>
</html>